@import "https://fonts.fontstorage.com/import/vremenagrotesk.css"; 
@import url(./dropdown.css);
@import url(./post.css);    
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input:focus {
    outline:none;
 }
body{
    font-family: 'Vremena Grotesk';
                                                   
}
.parallax{
    background: transparent;
    min-height: 641px;
}


/* All About the Nav  */
nav{
    display: flex;
    font-size: 14px;
    background-color: #e9ecef;
    color: #343a40;
    height: 55px;
    font-weight: lighter;
    align-items: center;
    white-space: nowrap;
}
.number{
    display: flex;
    margin-left: 30px;
}
.number span{
    padding: 5px 0 0 10px;
}
.options{
    display: flex;
    gap: 10px;
    padding-left: 34%;
}
.language{
    border-right: 1px solid lightgray;
}
.icons{
    margin-left: 45px;
    display: flex;
    gap: 10px;
}
#text{
    padding-left: 27%;
}
#usd{
    padding-left: 10px;
}
header{
    display: flex;
    padding-top: 30px;
}
header ul{
    display: flex;
}
.menus{
    text-decoration: none;
    padding-left: 10px;
    color: gray;
}
header li{
    list-style: none;
}
#varkala{
    text-decoration: none;
    padding: 3px 10px 0 50px;
    color: black;
}
.like-items{
    margin-top: -35px;
    margin-left: 30px;
    background-color: #bcac76;
    color: white;
    border-radius : 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
  }
input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    margin-left: 27%;
    width: 250px;
    font-weight: 600;
    padding: 0 0 5px 15px;
    font-size: 16px;
}
input:hover{
border-color: black;
}
.search-glass{
    margin-left: -35px;
}
#glass{
    font-size: 20px;
    color:#989898 ;
}
.three-icon{
    display: flex;
}
.icon-right{
    margin-left: 120px;
}
.icon-right img:hover{
    background-color    : #bcac76;
}
.icon-right img{
    margin-left: 15px;
}
.ham-menu{
    margin-left: 20px;
}
/* The Text Area On the Image */
.text-on-parallax{
    text-align: center;
    padding-top: 15%;
}
.text-on-parallax > h1{
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.text-on-parallax :nth-child(3){
    font-size: 1.25rem;
    font-weight: 300;
}
.text-on-parallax a{
    color: #bcac76;
    text-decoration: none;
    background-color: transparent;
}
.text-on-parallax a span{
    color: #868e96;
}
.post-container{
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-flow: wrap;
    margin-top: 300px;
}
.posts{
    display: flex;
    flex-direction: column;
    white-space: wrap;
}
.posts img{
    cursor: pointer;
    height: 200px;
    width: 300px;
}
.posts > span{
    padding-top: 25px;
}
.title{
    font-weight: bold;
    font-size: 20px;
}
.alt-text{
    font-size: 13px;
}
.info{
    color: #bcac76;
}
.date{
    color: #868e96;
}
.posts-time{
    display: flex;
    justify-content: space-between;
    padding: 5% 15% 0 15%;
    color: #868e96;
}
.posts-time a{
    text-decoration: none;
    color: #868e96;
}
#left{
    padding-right: 8px;
    color: #868e96;
}
#right{
    padding-left: 8px;
    color: #868e96;
}

.services{
    margin-top: 12%;
    background-color: #f8f9fa;
    padding-top: 6rem;
    padding-bottom: 6rem;
    gap: 70px;
    display: flex;
    justify-content: center;
}
.money,.price,.shipping,.support{
    display: flex;
}
.service-info p{
    padding-top: 10px;
    font-size: 14px;
}
.service-info :first-child{
    font-weight: bold;
}
.service-info :last-child{
    color: #868e96;
}
.services .service-img{
    margin-top: 10px;
    margin-right: 15px;
}
.general{
    display: flex;
    
}
.touch{
    margin-top: 7%;
    margin-left: 14%;
    margin-bottom: 10%;
}
.email{
    margin-left: -38%;
}
.email input{
    width: 390px;
}
#general-p{
    white-space: nowrap;
    font-size: 1rem;
    padding-bottom: 20px;
    font-weight: bold;
}
.touch :nth-child(2){
    font-size: .875rem;
    color: #868e96;
    margin-bottom: 30px;
}
.email img{
    position: absolute;
    margin: -10px 0 0 -50px;
}
.choices{
    display: flex;
}
.alllists{
    margin-top: 110px;
    padding-left: 50%;
}
.alllists a{
    text-decoration: none;
    color:#868e96;
}
.alllists li{
    list-style: none;
    padding-top: 20px;
    white-space: nowrap;
    font-size: 14px;
}
.rights{
    display: flex;
    color: #868e96;
    justify-content: space-around;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.rights ul{
    display: flex;
}
.rights p{
    font-size: 15px;
}
.rights a{
    text-decoration: none;
    color: #868e96;

}
.rights li{
    font-size: 15px;
    list-style: none;
    padding-left: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    /* Adjust the styles for smaller screens */
    nav {
      flex-direction: column;
      height: auto;
      padding: 10px;
    }
    header input{
      display: none;
    }
    .search-glass{
      display: none;
    }
    .parallax{
        width: 100vw;
    }
    .cart {
        left: 50px;
        width: max-content;
        height: max-content;
      }
      .remove-item{
        margin-left: 135px;
      }
  
    .number,.options,.icons {
      display: none;
    }
  
    #text {
      margin-left: -320px;
      margin-bottom: 10px;
    }
    .main-ul{
      display: none;
    }
    #varkala{
      margin-left: -30px;
    }
    header{
      justify-content: space-between;
    }
    .ham-menu{
      margin-right:30px;
    }
    .three-icon{
      margin-left: -140px;
    }
    .services{
      flex-direction: column;
      margin-left: 5px;
      width:100vw;
      padding-left: 30px;
    }
    .touch{
      margin-left: 10px;
    }
    .email input{
      width: 370px;
    }
    .choices{
      margin-top: 100px;
      margin-left: -410px;
      flex-direction: column;
      gap: -30px;
    }
    .cart {
      right: 500px;
      width: max-content;
      height: max-content;
    }
    .remove-item{
      margin-left: 135px;
    }
    .text-on-parallax{
        margin-top: 200px;
    }
    .text-on-parallax h1{
        font-size: 20px;
    }
    .text-on-parallax :nth-child(3){
        font-size: 1rem;
    }
      .dropdown-options {
        display: none;
      }
      
      .dropdown-options.active {
        display: block;
      }
      .post-container{
        margin-left: 5px;
      }
      .posts-time{
        margin-left: -7px;
        font-size: 14px;
      }
      .rights{
        margin-left: -40px;
        white-space: nowrap;
        flex-direction: column;
      }
      .rights ul{
        margin-left: -10px;
        flex-direction: column;
      }
      .rights p{
        font-size: 12px;
      }
      .rights li{
        font-size: 12px;
      }
      .email input{
        width: 100vw;
      }
      .choices{
        margin-top: 100px;
        margin-left: -430px;
        flex-direction: column;
        white-space: nowrap;
      }
      .general{
        margin-left: 5px;
      }
      .email img{
        margin-left: -50px;
      }


  }