@import "https://fonts.fontstorage.com/import/vremenagrotesk.css";       
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input:focus {
    outline:none;
 }
 textarea:focus{
    overflow: hidden;
    outline:none;
 }
body{
    font-family: 'Vremena Grotesk';
                                                   
}
.parallax{
    position: absolute;
    top: 0;
    left: 0;
    height: 499.2px;
    width: 100vw;
    max-width: none;
    transform: translate3d(0, 0, 0);
    z-index: -1;
    background-image: url(/assets/images/about-flower.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* All About the Nav  */
nav{
    display: flex;
    font-size: 14px;
    background-color: #e9ecef;
    color: #343a40;
    height: 55px;
    font-weight: lighter;
    align-items: center;
    white-space: nowrap;
}
.number{
    display: flex;
    margin-left: 30px;
}
.number span{
    padding: 5px 0 0 10px;
}
.options{
    display: flex;
    gap: 10px;
    padding-left: 34%;
}
.language{
    border-right: 1px solid lightgray;
}
.icons{
    margin-left: 45px;
    display: flex;
    gap: 10px;
}
#text{
    padding-left: 27%;
}
#usd{
    padding-left: 10px;
}
header{
    display: flex;
    padding-top: 30px;
}
header ul{
    display: flex;
}
.menus{
    text-decoration: none;
    padding-left: 10px;
    color: gray;
}
header li{
    list-style: none;
}
#varkala{
    text-decoration: none;
    padding: 3px 50px 0 40px;
    color: black;
}
header input{
    margin-left: 25%;
}
input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    width: 250px;
}
input:hover{
border-color: black;
}
.search-glass{
    margin-left: -35px;
}
#glass{
    font-size: 20px;
    color:#989898 ;
}

.icon-right{
    margin-left: 120px;
}
.icon-right img:hover{
    background-color    : #bcac76;
}
.icon-right img{
    margin-left: 15px;
}

.text-on-parallax{
    text-align: center;
    padding-top: 10%;
}
.text-on-parallax > h1{
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.text-on-parallax :nth-child(3){
    font-size: 1.25rem;
    font-weight: 300;
}
.text-on-parallax a{
    color: #bcac76;
    text-decoration: none;
    background-color: transparent;
}
.text-on-parallax a span{
    color: #868e96;
}


.all-contact{
    margin-top: 18%;
    justify-content: center;
    display: flex;
    padding-left: 80px;
    gap: 140px;
}
.all-contact h4{
    font-size: 1.5rem;
}
.contact-inf{
    color:#868e96;
    font-size: 16px;
    padding-top: 16px;
}
.contact-inf p{
    padding-top: 8px;
    padding-bottom: 8px;
}
#for-p{
    padding-bottom: 25px;
}
.all-contact span{
    font-weight: bolder;
}
.map-content{
    display: flex;
    margin-top: 10%;
}
 #map{
    height: 751px;
    width: 50%;
    object-fit: cover;
 }
 #map iframe{
    height: 751px;
 }
 .text-map{
    height: 751px;
    width: 50%;
    background-color:#dee0e0;
 }
 .text-map h1{
    padding-top: 90px;
    padding-left: 50px;
    font-size: 72px;
    color: #868e96;
 }
 .city{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-left: 50px;
    padding-top: 60px;
    padding-bottom: 30px;
    white-space: nowrap;
    border-bottom: 1px solid lightgray;
    width: 90%;
 }
 .city-title p{
    font-size: 24px;
    font-weight: bolder;
    color: #212529;
 }
 .city-adress p{
    color: #212529;
    font-size: 14px;
 }
 .email-left h1{
    padding-left: 11%;
    padding-top: 100px;
    font-size: 5.5rem;
 }
 .mail-icons{
    padding-top: 30px;
    padding-left: 11%;
 }
 .mail-icons i{
    font-size: 1.75rem;
    padding-right: 30px;
 }
 textarea{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    width: 600px;
    font-weight: 600;
 }
 .email-right{
    display: flex;
    flex-direction: column;
    margin-top: -15%;
    margin-left: 50%;
 }
 .email-right label{
    font-weight: bolder;
 }
 .mail-input{
    display: flex;
    flex-direction: column;
 }
 .mail-input input{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
 }
 .name-surname{
    display: flex;
    margin-bottom: 30px;
 }
 .message-us{
    display: flex;
    flex-direction: column;
 }
.email-right button{
    height: 40px;
    width: 180px;
    background-color: transparent;
    color: #bcac76;
    border: 1px solid #bcac76;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 30px;
}


.services{
    margin-top: 8%;
    background-color: #f8f9fa;
    padding-top: 6rem;
    padding-bottom: 6rem;
    gap: 70px;
    display: flex;
    justify-content: center;
}
.money,.price,.shipping,.support{
    display: flex;
}
.service-info p{
    padding-top: 10px;
    font-size: 14px;
}
.service-info :first-child{
    font-weight: bold;
}
.service-info :last-child{
    color: #868e96;
}
.services .service-img{
    margin-top: 10px;
    margin-right: 15px;
}
.general{
    display: flex;
    
}
.touch{
    margin-top: 7%;
    margin-left: 14%;
    margin-bottom: 10%;
}
.email input{
    padding-bottom: 10px;
    width: 390px;
    font-size: 16px;
    font-weight: bolder;
}
#general-p{
    white-space: nowrap;
    font-size: 1rem;
    padding-bottom: 20px;
    font-weight: bold;
}
.touch :nth-child(2){
    font-size: .875rem;
    color: #868e96;
    margin-bottom: 30px;
}
.email img{
    position: absolute;
    margin: -10px 0 0 -50px;
}
.choices{
    display: flex;
}
.alllists{
    margin-top: 110px;
    padding-left: 50%;
}
.alllists a{
    text-decoration: none;
    color:#868e96;
}
.alllists li{
    list-style: none;
    padding-top: 20px;
    white-space: nowrap;
    font-size: 14px;
}
.rights{
    display: flex;
    color: #868e96;
    justify-content: space-around;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.rights ul{
    display: flex;
}
.rights p{
    font-size: 15px;
}
.rights a{
    text-decoration: none;
    color: #868e96;

}
.rights li{
    font-size: 15px;
    list-style: none;
    padding-left: 20px;
}