@import "https://fonts.fontstorage.com/import/vremenagrotesk.css";
@import url(./dropdown.css);
@import url(./post.css);    
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input:focus {
    outline:none;
 }
 textarea:focus{
    overflow: hidden;
    outline:none;
 }
body{
    font-family: 'Vremena Grotesk';
                                                   
}
.ham-dropdown{
  display: none;
  position: absolute;
  margin-top: 10px;
  padding-top: 30px;
  margin-left: -360px;
  padding-left: 60px;
  background-color: white;
  height: 100vh;
  width: 30vw;
  z-index: 2;
  border: 1px solid  #bcac76;
}
.ham-dropdown ul{
  display:flex ;
  flex-direction: column  ;
  gap: 30px;
}
.samsa{
  margin-left: -40px;
}
#sams-text{
  padding-top: 30px;
  font-size: 14px;
}
#vark{
  text-decoration: none;
  font-size: 24px;
  padding-bottom: 40px;
  color: black;
}
.ham-dropdown li{
  list-style: none;
}
.ham-dropdown ul li a{
  text-decoration: none;
  color: #989898;
}
/* All About the Nav  */
nav{
    display: flex;
    position: relative;
    font-size: 14px;
    background-color: #e9ecef;
    color: #343a40;
    height: 55px;
    font-weight: lighter;
    align-items: center;
    white-space: nowrap;
}
.number{
    display: flex;
    margin-left: 30px;
}
.number span{
    padding: 5px 0 0 10px;
}
.options{
    display: flex;
    gap: 10px;
    padding-left: 34%;
}
.language{
    border-right: 1px solid lightgray;
}
.icons{
    margin-left: 45px;
    display: flex;
    gap: 10px;
}
#text{
    padding-left: 27%;
}
#usd{
    padding-left: 10px;
}
header{
    display: flex;
    padding-top: 30px;
}
header ul{
    display: flex;
}
.menus{
    text-decoration: none;
    padding-left: 10px;
    color: gray;
}
header li{
    list-style: none;
}
.three-icon{
  display: flex;
}
.ham-menu{
  margin-left: 20px;
}
#varkala{
    text-decoration: none;
    padding: 3px 50px 0 40px;
    color: black;
}
header input{
    margin-left: 25%;
}
input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    width: 250px;
}
input:hover{
border-color: black;
}
.search-glass{
    margin-left: -35px;
}
#glass{
    font-size: 20px;
    color:#989898 ;
}

.icon-right{
    margin-left: 120px;
}
.icon-right img:hover{
    background-color    : #bcac76;
}
.icon-right img{
    margin-left: 15px;
}

.like-items{
  margin-top: -35px;
  margin-left: 30px;
  background-color: #bcac76;
  color: white;
  border-radius : 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}



/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:#bcac76;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.fade-text{
  position: absolute;
  margin-top: 200px;
  margin-left: -30px;
  font-weight: lighter;
}
.fade-text :nth-child(2){
  font-size: 72px;
  font-weight: 400;
  padding-top: 30px;
}
.fade-text button{
  background-color: transparent;
  border: 1px solid #bcac76;
  color: #bcac76;
  font-size: 13.8px;
  margin-top: 70px;
  font-weight: 900;
  height: 40px;
  width: 200px;
}
#blob{
  margin-left: 700px;
}
#basic{
  margin-left: 670px;
  position: absolute;
  margin-top: 20px;
  width:35%
}
.main-bg{
  background: url(/assets/images/greatest-bg.jpeg);
  background-repeat: no-repeat;
  background-position: 0%;
  background-size:contain ;
  max-height: 430px;
}
.top-choices{
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 180px;
}
.top-choices :first-child{
  color:#989898;
  font-weight: bolder;
}
.top-choices :nth-child(2){
  font-size: 26px;
  font-weight: bolder;
}
.top-choices :last-child{
  font-size: 20px;
  color: #989898;
}
.up-sized-img{
  display: flex;
  margin-left: 180px;
  margin-top: 100px;
}

.sized-book img{
  height: 360px;
}
.sized-book-text{
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  white-space: nowrap;
}
.sized-book-text button{
  width: 80px;
  font-weight: 900;
  background-color: transparent;
  border: none;
}
#the-id{
  padding-right: 10px;
}
.sized-green{
  display: flex;
  margin-left: 180px;
}
.sized-green img{
  height: 550px;
  margin-top: -20px;
  margin-left: 30px;
}
.sized-green-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: -60px;
  padding-top: 80px;
  white-space: nowrap;
}
.sized-green-text button{
  width: 80px;
  font-weight: 900;
  background-color: transparent;
  border: none;
}
.mid-sized-img{
  display: flex;
  gap: 100px;
}
.sized-blue{
  display: flex;
  margin-left: 240px;
  margin-top: 150px;
}
.sized-blue img{
  height: 550px;
  margin-top: -20px;
  margin-left: 30px;
}
.sized-blue-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: -60px;
  padding-top: 80px;
  white-space: nowrap;
}
.sized-blue-text button{
  width: 80px;
  font-weight: 900;
  background-color: transparent;
  border: none;
}
.sized-yellow{
  margin-top: 250px;
}
.sized-yellow img{
  height: 340px;
}
.sized-yellow-text{
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  white-space: nowrap;
}
.sized-yellow-text button{
  width: 80px;
  font-weight: 900;
  background-color: transparent;
  border: none;
}
.down-sized-img{
  display: flex;
  margin-left: 180px;
  margin-top: 100px;
  gap: 200px;
}
.sized-rul img{
  height: 240px;
}
.sized-rul{
  margin-top: 30px;
}
.sized-rul-text{
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  white-space: nowrap;
}
.sized-rul-text button{
  width: 80px;
  font-weight: 900;
  background-color: transparent;
  border: none;
}
.sized-red img{
  height: 634px;
  width: 634px;
}
.sized-red-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: -60px;
  padding-top: 80px;
  white-space: nowrap;
}
.sized-red-text button{
  width: 80px;
  font-weight: 900;
  background-color: transparent;
  border: none;
}
.deal{
 background-color: #ebf7ff;
 display: flex;
 height: 550px;
 margin-top: 80px;
}
.deal-right img{
  height: 450px;
  margin-left: -150px;
  margin-top: 50px;
}
.deal-content{
  position: absolute;
  margin-top: -550px;
  padding-left: 160px;
}
.deal-text{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.deal-text p{
  color: #dc3545;
  font-size: 18px;
  font-weight: bolder;
}
.deal-text h1{
  font-size: 40px;
}
.deal-text span{
  color: #989898;
}
#hrzntl{
  width: 60px;
  margin-top: 145px;
  position: absolute;
  height: 1px;
  border-color:#989898;
}
#saled{
  padding-right: 15px;
}
.deal-text button{
  height: 40px;
  width: 70px;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
}
.countdown-content{
  display: flex;
  flex-direction: column;
}
.countdown {
  display: flex;
  gap: 50px;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  background-color: white;
  height: 120px;
  width: 600px;
  justify-content: center;
  align-items: center;
}
.countdown p{
  padding-top: 10px;
  color: #989898;
  font-size: 16px;
}
#deal-id{
  padding-right: 10px;
}
.countdown-btn button{
  margin-top: 30px;
  height: 40px;
  width: 130px;
  background-color: transparent;
  border: 1px solid black;
  font-weight: bolder;
}
.arrivals{
  padding-left: 160px;
  padding-top: 100px;
  display: flex ;
  flex-direction: column;
  gap: 10px;
}
.arrivals p{ 
  font-size: 20px;
  color: #989898;
}


.filters ul{
  padding-left: 160px;
  padding-top: 60px;
  display: flex;
  gap: 20px;
}
.filters a {
  text-decoration: none;
  color: #989898;
}
.filters li{
  list-style: none;
}

.summer-sales{
  display: flex;
  margin-left: 150px;
  background-color: #eae0bd;
  width: 82%;
  height: 430.45px;
}
.sales-img img{
  height: 430px;
  position: absolute;
  margin-top: -50px;
}
.blob-gold img{
  width: 53%;
  margin-top: -22px;
}
.sales-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sales-content h1{
  font-size: 72px;
  padding-left: 60px;
  padding-bottom: 20px;
}
.sales-content p{
  font-size: 32px;
  font-weight: lighter;
  padding-bottom: 50px;
}
.sales-content button{
  height: 40px;
  width: 200px;
  margin-left: 30%;
  background-color: transparent;
  border: 1px solid black;
  font-weight: bolder;
}
#sale-spn{
  padding-right: 10px;
}

.services{
  margin-top: 8%;
  background-color: #f8f9fa;
  padding-top: 6rem;
  padding-bottom: 6rem;
  gap: 70px;
  display: flex;
  justify-content: center;
}
.money,.price,.shipping,.support{
  display: flex;
}
.service-info p{
  padding-top: 10px;
  font-size: 14px;
}
.service-info :first-child{
  font-weight: bold;
}
.service-info :last-child{
  color: #868e96;
}
.services .service-img{
  margin-top: 10px;
  margin-right: 15px;
}
.general{
  display: flex;
  
}
.touch{
  margin-top: 7%;
  margin-left: 14%;
  margin-bottom: 10%;
}
.email input{
  padding-bottom: 10px;
  width: 390px;
  font-size: 16px;
  font-weight: bolder;
}
#general-p{
  white-space: nowrap;
  font-size: 1rem;
  padding-bottom: 20px;
  font-weight: bold;
}
.touch :nth-child(2){
  font-size: .875rem;
  color: #868e96;
  margin-bottom: 30px;
}
.email img{
  position: absolute;
  margin: -10px 0 0 -50px;
}
.choices{
  display: flex;
}
.alllists{
  margin-top: 110px;
  padding-left: 50%;
}
.alllists a{
  text-decoration: none;
  color:#868e96;
}
.alllists li{
  list-style: none;
  padding-top: 20px;
  white-space: nowrap;
  font-size: 14px;
}
.rights{
  display: flex;
  color: #868e96;
  justify-content: space-around;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.rights ul{
  display: flex;
}
.rights p{
  font-size: 15px;
}
.rights a{
  text-decoration: none;
  color: #868e96;

}
.rights li{
  font-size: 15px;
  list-style: none;
  padding-left: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  /* Adjust the styles for smaller screens */
  nav {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  header input{
    display: none;
  }
  .search-glass{
    display: none;
  }

  .number,.options,.icons {
    display: none;
  }

  #text {
    margin-left: -320px;
    margin-bottom: 10px;
  }
  .main-ul{
    display: none;
  }
  #varkala{
    margin-left: -30px;
  }
  header{
    justify-content: space-between;
  }
  .the-ham{
    margin-right: 20px;
  }
  .three-icon{
    margin-left: -150px
  }
  .fade-text{
    margin-top: 50px;
    margin-left: 30px;
  }
  .fade-text :nth-child(2){
    font-size: 32px;
    padding-bottom: 20px;
  }
  #basic{
    margin-left: 0px;
    width: 100%;
    margin-top: 260px;
  }
  #blob{
    display: none;
  }
  .dot-div{
    margin-top: 550px; 

  }
  .top-choices{
    margin-left: -170px;
  }
  .up-sized-img{
    margin-left: 17px;
    flex-direction: column;
  }
  .sized-book img{
    height: 340px;
  }
  .sized-green img{
    margin-left: -100px;
    margin-top: 40px;
    height: 250px;
  }
  .sized-green-text{
    margin-left: -180px;
  }
  .mid-sized-img{
    flex-direction: column;
  }
  .sized-blue img{
    margin-left: -110px;
    height: 250px;
  }
  .sized-blue-text{
    margin-left: -220px;
  }
  .sized-yellow img{
    height: 340px;
    margin-top: -220px;
    margin-left: 30px;
  }
  .sized-yellow-text{
    margin-left: 30px;
  }
  .down-sized-img{
    flex-direction: column;
  }
  .sized-rul img{
    height: 340px;
    margin-left: -160px;
  }
  .sized-rul-text{
    margin-left: -160px;
  }
  .sized-red{
    margin-top: -120px;
    margin-left: -60px;
  }
  .sized-red img{
    height: 250px;
    width: 250px;
  }
  .sized-red-text{
    margin-left: -80px;
  }
  .deal{
    margin-top: 300px;
    margin-left: -150px;
    height: max-content;
  }
  .countdown{
    margin-left: 10px;
    width: 90%;
    height: 200px;
  }
  .days,.hours{
    margin-top: -100px;
  }
  .minutes{
    margin-top: 60px;
    margin-left: -195px;
  }
  .seconds{
    margin-top: 60px;
  }
  .deal-right img{
    margin-top: 380px;
    margin-left: -350px;
  }
  .arrivals{
    margin-left: -148px;
  }
  .filters{
    margin-left: -150px;
    font-size: 14px;
  }
  .summer-sales{
    margin-left: 35px;
  }
  .sales-content h1{
    margin-left: -35px;
    font-size: 38px;
    white-space: nowrap;
  }
  .sales-content p{
    font-size: 27px;
    margin-left: 30px;
  }
  .sales-content button{
    margin-left:60px;
  }
  .sales-img img{
    display: none;
  }

  .blob-gold img{
    margin-left: 0px;
    margin-top: 10px;
    width: 300%;
  }
  .services{
    flex-direction: column;
    margin-left: 5px;
    width:380px;
    padding-left: 30px;
  }
  .touch{
    margin-left: 10px;
  }
  .email input{
    width: 370px;
  }
  .choices{
    margin-top: 100px;
    margin-left: -500px;
  }
  .cart {
    left: 100px;
    width: max-content;
    height: max-content;
  }
  .remove-item{
    margin-left: 135px;
  }
}
@media screen and (min-width: 769px) and (max-width:1023px){
  nav{
    width: 100vw;
  }
  .main-ul{
    display: none;
  }
  header input{
    display: none;
  }
  .search-glass{
    display: none;
  }
  header{
    width: 90vw;
    justify-content: space-between;
  }
  .dot-div{
    margin-top: 170px;
  }
  .slideshow-container{
    width: 90vw;
    margin-left: 70px;
  }
  #basic{
    margin-left: 410px;
  }
  #blob{
    margin-left: 420px;
  }
  .top-choices{
    margin-left: -140px;
  }
  .up-sized-img{
    margin-left: 30px;
  }
  .sized-book img{
    height: 240px;
  }
  .sized-green img{
    height: 280px;
  }
  .mid-sized-img{
    margin-left: -130px;
  }
  .sized-blue img{
    height: 280px;
  }
  .sized-yellow img{
    height: 240px;
  }
  .down-sized-img{
    margin-left: 30px;
  }
  .sized-rul img{
    height: 240px;
  }
  .sized-red img{
    height: 280px;
    width: 280px;
  }
  .deal{
    margin-left: -120px;
    margin-top: 170px;
  }
  .deal-text{
    padding-top: 170px;
  }
  .arrivals{
    margin-left: -130px;
  }
  .filters{
    margin-left: -130px;
  }
  .summer-sales{
    margin-left: 10px;
  }
  .sales-img img{
    margin-left: -60px;
  }
  .services{
    flex-direction: column;
    margin-left: 5px;
    width:100vw;
    padding-left: 30px;
  }
  .touch{
    margin-left: 10px;
  }
  .email input{
    width: 100vw;
  }
  .choices{
    margin-top: 100px;
    margin-left: -940px;
  }
  .cart {
    left: 380px;
    width: max-content;
    height: 100vh;
  }
  .remove-item{
    margin-left: 135px;
  }
  .options{
    margin-left: -200px;
  }

}