@import url(./dropdown.css);
@import "https://fonts.fontstorage.com/import/vremenagrotesk.css"; 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input:focus {
    outline:none;
 }
body{
    font-family: 'Vremena Grotesk';
                                                   
}
.parallax{
    position: absolute;
    top: 0;
    left: 0;
    height: 641px;
    width: 100vw;
    max-width: none;
    transform: translate3d(0, 0, 0);
    z-index: -1;
    background-image: url(/assets/images/blog-parallax-girl.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* All About the Nav  */
nav{
    display: flex;
    font-size: 14px;
    background-color: #e9ecef;
    color: #343a40;
    height: 55px;
    font-weight: lighter;
    align-items: center;
    white-space: nowrap;
}
.number{
    display: flex;
    margin-left: 30px;
}
.number span{
    padding: 5px 0 0 10px;
}
.options{
    display: flex;
    gap: 10px;
    padding-left: 34%;
}
.language{
    border-right: 1px solid lightgray;
}
.icons{
    margin-left: 45px;
    display: flex;
    gap: 10px;
}
#text{
    padding-left: 27%;
}
#usd{
    padding-left: 10px;
}
header{
    display: flex;
    padding-top: 30px;
}
header ul{
    display: flex;
}
.menus{
    text-decoration: none;
    padding-left: 10px;
    color: gray;
}
header li{
    list-style: none;
}
#varkala{
    text-decoration: none;
    padding: 3px 10px 0 50px;
    color: black;
}
input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    margin-left: 27%;
    width: 250px;
    font-weight: 600;
    padding: 0 0 5px 15px;
    font-size: 16px;
}
input:hover{
border-color: black;
}
.search-glass{
    margin-left: -35px;
}
#glass{
    font-size: 20px;
    color:#989898 ;
}

.icon-right{
    margin-left: 120px;
}
.icon-right img:hover{
    background-color    : #bcac76;
}
.icon-right img{
    margin-left: 15px;
}
/* CSS code for the shopping cart */
#cart-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  #cart {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 33.33%;
    height: 100%;
    background-color: #fff;
    z-index: 10000;
    overflow-y: auto;
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .cart-item .item-details h5,
  .cart-item .item-details p {
    margin: 0;
  }
  
  .cart-item .delete-btn {
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    margin-left: auto;
  }
  
  #cart-summary {
    margin-top: 20px;
    text-align: center;
  }
  
  #subtotal {
    font-weight: bold;
  }
  
  #view-cart-btn,
  #checkout-btn {
    height: 30px;
    margin-top: 10px;
    font-weight: bold;
  }
  